[Unit]
Description=iptables firewall service
After=syslog.target network.target

[Service]
Type=oneshot
ExecStart=/etc/firewall.bash start
RemainAfterExit=true
ExecStart=/etc/firewall.bash stop
StandardOutput=journal

[Install]
WantedBy=multi-user.target